In [1]:

import pandas as pd
import numpy as np

In [6]:
# read　parquet file
df = pd.read_parquet('factor_dat/factor_2012.parquet')

In [9]:

barr = pd.read_parquet('barra_dat/BarraSpecificVar_Raw.parquet')
barr

              Date     Symbol       Std       Var
0         20110117  000001.SZ       NaN       NaN
1         20110117  000002.SZ       NaN       NaN
2         20110117  000004.SZ       NaN       NaN
3         20110117  000005.SZ       NaN       NaN
4         20110117  000006.SZ       NaN       NaN
...            ...        ...       ...       ...
11713191  20241023  920008.BJ  0.075787  0.005744
11713192  20241023  920016.BJ  0.021003  0.000441
11713193  20241023  920019.BJ  0.020647  0.000426
11713194  20241023  920099.BJ  0.022676  0.000514
11713195  20241023  920118.BJ  0.045968  0.002113

[11713196 rows x 4 columns]